*~
emacs/.emacs.d/elpa
emacs/.emacs.d/custom.el
emacs/.emacs.d/.*
emacs/.emacs.d/tramp
emacs/.emacs.d/url
emacs/.emacs.d/network-security.data
emacs/.emacs.d/recentf
emacs/.emacs.d/config.el
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/request
emacs/.emacs.d/transient
emacs/.emacs.d/bookmarks
emacs/.emacs.d/ido.last
emacs/.emacs.d/session.*
smex-items
org-roam.db
*.eld
