/.emacs.d/backup/
/.emacs.d/bookmarks
/.emacs.d/custom.el
/.emacs.d/elpa
/.emacs.d/auto-save-list/
/.emacs.d/.org-id-locations

/.emacs.d/eshell/
.emacs.d/.*
/.emacs.d/*.dat
/.emacs.d/backups
/.emacs.d/projectile*
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/%backup%~
*~
