Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xcursor.theme: neutral

!-------------------------------------------------------------------------------
!
!
!      X T E R M
!
!
XTerm*internalBorder:        0
XTerm*loginShell:         true
XTerm*scrollBar:         false
XTerm*cursorBlink:       false
!XTerm*geometry:         80x26
XTerm*saveLines:         65535
XTerm*dynamicColors:        on
XTerm*highlightSelection: true
! Catch URLs?
XTerm*charClass:     33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
! Appearance
XTerm*utf8:          2
XTerm*eightBitInput: true
XTerm*faceName:      Cascadia Code:pixelsize=16

XTerm*foreground:   #e6d4c3
XTerm*background:   #282222
XTerm*cursorColor:  #e6d4c3
XTerm*color0:       #222222
XTerm*color8:       #331c1c
XTerm*color1:       #997373
XTerm*color9:       #995454
XTerm*color2:       #999973
XTerm*color10:      #999954
XTerm*color3:       #997e63
XTerm*color11:      #cc9e70
XTerm*color4:       #738099
XTerm*color12:      #7090cc
XTerm*color5:       #857399
XTerm*color13:      #a685cc
XTerm*color6:       #7a9998
XTerm*color14:      #8fccca
XTerm*color7:       #b3b3b3
XTerm*color15:      #cccccc

