projectile.cache
.config/emacs/.*
.config/emacs/bookmarks
.config/emacs/custom.el
.config/emacs/request
.config/emacs/tramp
.config/emacs/transient
.config/emacs/url
.config/emacs/tree-sitter
eln-cache
elpa
history
ido.last
lastdir
network-security.data
recentf
session.*
